<html>
<head>
	<meta property="al:ios:url" content="stacktimer://add.timer?{{encoded_url}}" />
	<meta property="al:web:url"  content="http://stacktimer.com" />
	<meta property="og:title" content="Timer"/>
	<meta property="og:type" content="page"/>
	<meta property="og:url" content="http://stacktimer.com"/>
	<meta property="og:site_name" content="Stack Timer"/>
	<script type="text/javascript">
	      var userAgent = window.navigator.userAgent;
	      if (userAgent.match(/iPad/i) || userAgent.match(/iPhone/i)) {
	        window.location = "stacktimer://add.timer?{{encoded_url}}"
	      }
	</script>
	<title>{{name}}</title>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,700' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="routine">
	<div class="title-mod" id="app-trigger"><span class="title">open {{name}} in stacktimer&nbsp;<i class="fa fa-external-link"></i></span class="title"></div>
	{% for timer in timers %}
	<div class="timer-mod">
		<div class="timer-action">{{timer.actionOnCompletion}}</div>
		<div class="timer-time">{{timer.time}}</div>
	</div>
	{% endfor %}
</div>
<script src='/js/jquery.js'></script>
<script src='/js/app.js'></script>
</body>
</html>
